---
import Tecno_icon from '../icons/Titulos/Tecno_icon.astro';
---

<div class="skills-container text-center">
  <h2 class="text-4xl font-semibold pb-10 flex justify-center gap-x-3 items-center mx-auto mb-10">
    <Tecno_icon class="w-12 h-12" /> Tecnologías
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-14 p-4">
    <!-- Lenguajes -->
    <div>
      <h2 class="text-2xl opacity-80 mb-8 text-center">Lenguajes</h2>
      <div class="flex flex-wrap justify-center gap-10">
        <div class="gas group">
          <img src="https://api.iconify.design/logos:html-5.svg" alt="HTML" class="w-12 h-12 group-hover:scale-110 transition-transform duration-300" />
        </div>
        <div class="gas group">
          <img src="https://api.iconify.design/logos:css-3.svg" alt="CSS" class="w-12 h-12 group-hover:scale-110 transition-transform duration-300" />
        </div>
        <div class="gas group">
          <img src="https://api.iconify.design/logos:bash-icon.svg" alt="Bash" class="w-12 h-12 group-hover:scale-110 transition-transform duration-300" />
        </div>
        <div class="gas group">
          <img src="https://api.iconify.design/devicon:pypi-wordmark.svg" alt="Python" class="w-12 h-12 group-hover:scale-110 transition-transform duration-300" />
        </div>
      </div>
    </div>

    <!-- Frameworks y Librerías -->
    <div>
      <h2 class="text-2xl opacity-80 mb-8 text-center">Frameworks y Librerías</h2>
      <div class="flex flex-wrap justify-center gap-10">
        <div class="gas group">
          <img src="https://api.iconify.design/skill-icons:astro.svg" alt="Astro" class="w-12 h-12 group-hover:scale-110 transition-transform duration-300" />
        </div>
        <div class="gas group">
          <img src="https://api.iconify.design/logos:tailwindcss-icon.svg" alt="Tailwind" class="w-12 h-12 group-hover:scale-110 transition-transform duration-300" />
        </div>
      </div>
    </div>

    <!-- Bases de Datos -->
    <div>
      <h2 class="text-2xl opacity-80 mb-8 text-center">Bases de Datos</h2>
      <div class="flex flex-wrap justify-center gap-10">
        <div class="gas group">
          <img src="https://api.iconify.design/logos:mysql.svg" alt="MySQL" class="w-12 h-12 group-hover:scale-110 transition-transform duration-300" />
        </div>
      </div>
    </div>

    <!-- Herramientas Adicionales -->
    <div>
      <h2 class="text-2xl opacity-80 mb-8 text-center">Herramientas Adicionales</h2>
      <div class="flex flex-wrap justify-center gap-10">
        <div class="gas group">
          <img src="https://api.iconify.design/logos:git-icon.svg" alt="Git" class="w-12 h-12 group-hover:scale-110 transition-transform duration-300" />
        </div>
        <div class="gas group">
          <img src="https://api.iconify.design/logos:claude-icon.svg" alt="IA" class="w-12 h-12 group-hover:scale-110 transition-transform duration-300" />
        </div>
      </div>
    </div>
  </div>
</div>
